//colors
$main-background: #FAFAFA;
$secondary-background: #FFFFFF;
$accent-color1: #71CEAC;
$accent-color2: #E56399;

//fonts
$main-font: 'Homemade Apple', cursive;
$content-font: 'Actor', sans-serif;

//borders
$main-border: solid #71CEAC 3px;
$secondary-border: solid #E56399 3px;
$hidden-border: white solid 1px;