.feature1 {
  width: 350px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.notfriends {
  height: 100px;
  width: auto;
}

.feature-icon {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}