@import 'mixins';
@import 'variables';

.parentcard4 {
  @include square(270px);
}

.dad2 {
  overflow: hidden;
  margin: 0px;
  @include square(270px);
}

.parent-4-img {
  margin: 0px;
  @include square(270px);
}

.dad2-description-container {  
  width: 268px;
  height: 166px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: $hidden-border;
}

.name4 {
  margin: 0px;
  margin-top: 25px;
}

.word-container-4 {
  margin-left: 15px;
  margin-right: 15px;
}

