.parent1card {
  height: 270px;
  width: 270px;
  margin-right: 25px;
}

// div
.mom1 {
  height: 270px;
  width: 270px;
  overflow: hidden;
  margin: 0px;
}

//img
.parent1 {
  margin-left: -590px;
}

.mom1-description-container {  
  width: 268px;
  height: 166px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: white solid 1px;
}

.name1 {
  margin: 0px;
  margin-top: 25px;
}

.word-container-1 {
  margin-left: 15px;
  margin-right: 15px;
}

