.parentcard3 {
  margin-right: 25px;
}

// div
.mom2 {
  height: 270px;
  width: 270px;
  overflow: hidden;
  margin: 0px;
}

.parent-3-img {
  height: 270px;
  width: 270px;
  margin: 0px;
}

.mom2-description-container {  
  width: 268px;
  height: 166px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: white solid 1px;
}

.name3 {
  margin: 0px;
 margin-top: 25px;
}

.word-container-3 {
  margin-left: 15px;
  margin-right: 15px;
}

