@import 'variables';
@import 'mixins';

.landingsec1top {
  height: 700px;
  width: 100%;
  background-color: $landing-top;
  @include flex-row();
}

.momdaughter {
  width: 50%;
  height: 100%;
}

.description-container {
  width: 50%;
  height: 100%;
  align-items: center;
  margin-top: 7%;
  @include flex-column();
}

.description {
  width: 539px;
  height: 305.03px;
}

.tagline {
  font-family: $font3;
  font-size: 56px;
  margin: 0px;
  margin-bottom: 60px;
}

.tagline2 {
  font-size: 20px;
  font-family: $font4;
  margin-bottom: 60px;
}

.friends-btn {
  background-color: $accent-color1;
  color: white;
  border: none;
  border-radius: 15px;
  width: 250px;
  height: 60px;
  font-size: 18px;
  font-family: $font4;
}

.friends-btn:hover {
  background-color: $accent-color2;
  color: white;
  border: none;
  border-radius: 15px;
  width: 250px;
  height: 60px;
  font-size: 18px;
  font-family: $font4;
  cursor: pointer;
}