.section3 {
  font-family: 'Actor', sans-serif;
  height: 240px;
  background-color: #71CEAC;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tag-1 {
  margin-bottom: 10px;
  font-size: 32px;
}

.tag-2 {
  font-size: 32px;
}

.bottom-tag {
  margin-right: 250px;
}
.find-friends-btn {
  width: 200px;
  height: 38px;
  background-color: black;
  border-radius: 12px;
  margin-right: 15px;
}

.works-btn {
  width: 200px;
  height: 38px;
  background-color: #71CEAC;
  border: black solid 2px;
  border-radius: 12px;
}