@mixin buttons1050 {
  @media screen and (max-width: 1050px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 25px;
  }
}

@mixin button1050 {
  @media screen and (max-width: 1050px) {
      margin-right: 25px; 
      margin-top: 5px;
      margin-bottom: 5px;
      height: 30px;
      width: 150px;
      font-family: $primary-font;
      font-size: 15px;
  }
}

@mixin event-card1050 {
  @media screen and (max-width: 1050px) {
    width: 90%;
    height: auto;
    background-color: $cream;
    border-radius: $rounded-corners;
    border: $green-border;
    margin: 15px;
  }
}
