$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Homemade Apple', cursive;;
$main-title: #ECE2D0;
$color: #0cf;
$rounded-corners: 25px;
$pink-border: #E56399 solid 5px;
$green-border: #7FD1B9 solid 5px;
$green: #7FD1B9;
$pink: #E56399;
$cream: #ECE2D0;
$mauve: #7A6563;