@import 'mediaquery700';

.parent-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  justify-content: space-around;
  background-color: #FAFAFA;
  @include parent-container700();
}