@import 'variables';
@import 'mixins';
@import 'mediaquery1050';
@import 'mediaquery700';
@import 'mediaquery550';

nav {
  margin: 0px;
  background-color: #7FD1B9;
  height: 25%;
  border-bottom: solid 10px $pink;
  @include flex-row-between();
  @include nav700();
  @include nav550();
}

.main-title {
  margin: 0px;
  height: max-content;
  @include main-title550();
}

.title1 {
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 0px;
  padding-top: 15px;
  font-family: $primary-font;
  color: $main-title;
  @include title1-550();
}

.title2 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: $secondary-font;
  font-size: 125px;
  color: $main-title;
  @include title2-700();
  @include title2-550();
}

.button {
  margin-right: 25px; 
  border: $mauve solid 5px;
  border-radius: $rounded-corners;
  height: 50px;
  width: 150px;
  font-family: $secondary-font;
  font-size: 35px;
  background-color: $cream;
  color: $mauve;
  @include button1050();
  @include button550();
}

.buttons {
  display: flex;
  align-items: flex-end;
  margin-bottom: 35px;
  @include buttons1050();
  @include buttons700();
}
